<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 100</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 200</a>
      </li>
      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 300</a>
      </li>
      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 1000</a>
      </li>
    </ul>
  </nav>
</header>
